Repository NathanRodriguesVieira99/teste_tecnico_ecto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint

.lintstagedrc.json:

{
  "src/**/*.{test,spec}.{ts,tsx}": ["pnpm test:unit", "pnpm test:int"],
  "src/**/*.{ts,tsx,css}": ["pnpm format", "pnpm lint"]
}

feat(tests): add custom render for FormProvider
  src/tests/utils/FormProvider-custom-render.tsx
Due: pnpm format, pnpm lint

feat(mocks): add SignUpServiceMock
  src/tests/mocks/sign-up.mock.ts
Due: pnpm format, pnpm lint

feat(tests): add factory functions for creating fake users
  src/tests/factories/make-create-fake-user.ts
Due: pnpm format, pnpm lint

fix(sign-up): improve error handling and export handleSignUp method
  src/app/(auth)/sign-up/sign-up.model.ts
Due: pnpm format, pnpm lint

test(sign-up): add unit tests for useSignUpPageModel
  src/app/(auth)/sign-up/sign-up.model.spec.ts
Due: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint

fix(lint): separate test and spec commands in lint-staged configuration
  .lintstagedrc.json
Due: none

test(show-password-button): add unit tests for ShowPasswordButton component
  src/components/ui/show-password-button/show-password-button.test.tsx
Due: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint

test(form): add unit tests for Form components
  src/components/ui/form/index.test.tsx
Due: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint

style(button): format file
  src/components/ui/button/button.tsx
Due: pnpm format, pnpm lint

docs: add README
  README.md
Due: none

style(layout): add responsive design for desktop screens
  src/app/(auth)/layout.tsx
Due: pnpm format, pnpm lint

style(user-icon): add responsive design for desktop screens
  src/components/ui/user-icon/user-icon.tsx
Due: pnpm format, pnpm lint

style(show-password-button): add responsive design for desktop screens
  src/components/ui/show-password-button/show-password-button.tsx
Due: pnpm format, pnpm lint

style(input): add responsive design for desktop screens
  src/components/ui/form/input.tsx
Due: pnpm format, pnpm lint

style(header): add responsive design for desktop screens
  src/components/layout/header/header.tsx
Due: pnpm format, pnpm lint

style(footer): add responsive design for desktop screens
  src/components/layout/footer/footer.tsx
Due: pnpm format, pnpm lint

style(sign-up): add responsive design for desktop screens
  src/app/(auth)/sign-up/sign-up.view.tsx
Due: pnpm format, pnpm lint

style(title-text): format file
  src/app/(auth)/sign-up/_components/title-text/title-text.tsx
Due: pnpm format, pnpm lint

style(settings): remove biome
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
Due: none

refactor(sign-up model): simplify sign-up mutation handling and expose error/success states
  src/app/(auth)/sign-up/sign-up.model.ts
Due: pnpm format, pnpm lint

refactor(lint-staged): remove formatting and linting scripts
  .lintstagedrc.json
Due: none

fix(sign-up.types): add missing import for ISignUpService
  src/app/(auth)/sign-up/sign-up.types.d.ts
Due: pnpm format, pnpm lint

refactor(sign-up.view): simplify password visibility handling for inputs
  src/app/(auth)/sign-up/sign-up.view.tsx
Due: pnpm format, pnpm lint

test(sign-up model): simplify tests by introducing setupHook utility and update assertions
  src/app/(auth)/sign-up/sign-up.model.spec.ts
  src/tests/utils/setup-hook.ts
Due: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint
