Repository NathanRodriguesVieira99/teste_tecnico_ecto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint

.lintstagedrc.json:

{
  "src/**/*.{test,spec}.{ts,tsx}": ["pnpm test:unit", "pnpm test:int"],
  "src/**/*.{ts,tsx,css}": ["pnpm format", "pnpm lint"]
}

feat(context): add AppProvider to wrap application
  src/app/layout.tsx
  src/context/app-provider.tsx
Due: pnpm format, pnpm lint

feat(http): implement HttpClient
  src/infra/http/http-client.ts
  src/infra/http/http-client.types.ts
Due: pnpm format, pnpm lint

style(layout): ensure AuthLayout div takes full height
  src/app/(auth)/layout.tsx
Due: pnpm format, pnpm lint

feat(sign-up): integrate SignUpService with useSignUpPageModel for form submission
  src/app/(auth)/sign-up/page.tsx
  src/app/(auth)/sign-up/sign-up.model.ts
Due: pnpm format, pnpm lint

feat(env): add environment variable validation schema using zod
  src/config/env/index.ts
Due: pnpm format, pnpm lint

fix(show-password-button): correct order of show/hide password button text
  src/components/ui/show-password-button/show-password-button.tsx
Due: pnpm format, pnpm lint

feat(sign-up): improve password validation
  src/app/(auth)/sign-up/sign-up.schema.ts
Due: pnpm format, pnpm lint

style(header): add cursor pointer to specialist contact text
  src/components/layout/header/header.tsx
Due: pnpm format, pnpm lint

style(title-span-text): format file
  src/app/(auth)/sign-up/_components/title-span-text/title-span-text.tsx
Due: pnpm format, pnpm lint

style(sign-up): adjust layout and spacing for sign-up page
  src/app/(auth)/sign-up/sign-up.view.tsx
Due: pnpm format, pnpm lint

feat(sign-up): add SignUpServiceProps type definition
  src/app/(auth)/sign-up/sign-up.types.d.ts
Due: pnpm format, pnpm lint

ci(vitest): add vitest workflow for running unit and int tests coverage
  .github/workflows/vitest.yml
Due: none

chore(playwright): enable Mobile Chrome testing in Playwright configuration
  playwright.config.ts
Due: none

fix(playwright): update baseURL and webServer URL to match NextJs port
  playwright.config.ts
Due: none

refactor(env): update error message formatting for invalid environment variables
  src/config/env/index.ts
Due: pnpm format, pnpm lint

test(sign-up): add end-to-end tests for sign-up
  src/tests/sign-up.e2e-spec.ts
Due: pnpm format, pnpm lint

fix(biome): add globals for vitest
  .vscode/settings.json
  biome.json
Due: none

fix(vitest): remove globalSetup configuration
  vitest.config.ts
Due: none

fix(playwright): add .env.test creation on playwright workflow
  .github/workflows/playwright.yml
Due: none

ci(playwright): add secrets to handle with test environment variables
  .github/workflows/playwright.yml
Due: none

ci(deploy): add workflow for Vercel deployment
  .github/workflows/deploy.yml
  .gitignore
Due: none

ci(workflows): update workflow names for Playwright and Vitest
  .github/workflows/playwright.yml
  .github/workflows/vitest.yml
Due: none

ci(lint): add linting workflow for biomeJs
  .github/workflows/lint.yml
Due: none

ci(deploy): add pnpm installation step in deployment workflow
  .github/workflows/deploy.yml
Due: none

ci(deploy): replace pnpm with npm for Vercel CLI installation
  .github/workflows/deploy.yml
Due: none

ci(lint): reorder biomeJS format and lint steps in workflow
  .github/workflows/lint.yml
Due: none

ci(lint): update biomeJS format and lint commands in workflow
  .github/workflows/lint.yml
Due: none

feat(env): update NODE_ENV schema to include production
  src/config/env/index.ts
Due: pnpm format, pnpm lint

ci(lint): update biomeJS commands to use pnpm for formatting and linting
  .github/workflows/lint.yml
Due: none

ci(lint): add suggested by biomejs docs CI config
  .github/workflows/lint.yml
Due: none

ci(lint): remove lint workflow
  .github/workflows/lint.yml
Due: none

fix(vitest): add @testing-library/jest-dom
  package.json
  pnpm-lock.yaml
  vitest.setup.ts
Due: none

test(header): add tests for Header component
  src/components/layout/header/header.test.tsx
Due: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint

chore(scripts): add --passWithNoTests to test:int script because don´t have any integration test now
  package.json
Due: none

test(button): add tests for Button component
  src/components/ui/button/button.test.tsx
Due: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint

test(button): add test when button is disabled
  src/components/ui/button/button.test.tsx
Due: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint

test(user-icon): add tests for UserIcon component
  src/components/ui/user-icon/user-icon.test.tsx
Due: pnpm test:unit, pnpm test:int, pnpm format, pnpm lint

chore(deps): add @faker-js/faker
  package.json
  pnpm-lock.yaml
Due: none

chore(vitest): exclude end-to-end spec files from coverage
  vitest.config.ts
Due: none

feat(tests): add custom render for QueryClient
  src/tests/utils/QueryClient-custom-render.tsx
Due: pnpm format, pnpm lint
